@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html{
    background-color: aquamarine;
}

header{
    background-color: aqua;

}
header > h1{
    padding: 30px;
    text-align: center;
}

span#burger{
    background-color:  rgb(5, 201, 201);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
}
span#burger:hover{
    color: black;
    background-color: aqua;
    cursor: pointer;

}
menu{
    display: none;
    
}
menu > ul{
    list-style-type: none;
    
}
menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(5, 201, 201);
    color: white;
    border-top: 2px solid rgb(4, 107, 138);
}
menu > ul >li> a:hover{
    background-color: aqua;
    color: black;
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
article > h2{
    padding-bottom: 2%;
}
article > p{
    margin-bottom: 20px;
    text-align: justify;
    text-indent: 20px;

}